.article .wrapper {
  padding: 90px 16px 92px;
}

@media only screen and (min-width: 720px) {
  .article .wrapper {
    padding: 100px 24px 96px;
  }
}
.header .stretch .title {
  color: #9cde29;
  font-family: HelveticaNeue-CondensedBold, Roboto;
}

/*.backdrop {
  background-color: #fafafa;
}
*/
.project .logo img {
  background: #fff;
  border-radius: 15px;
}

.copyright {
  padding-top: 50px;
  text-align: center;
}

.drawer {
  font-size: 18px;
}

.article {
  font-size: 18px;
}

.article h1 {
  font-size: 32px;
  font-weight: 600;
}

.article h2 {
  font-size: 28px;
  font-weight: 600;
}

.article h3 {
  font-size: 19px;
  font-weight: 600;
}

.article h4 {
  font-size: 20px;
  font-weight: 600;
}

pre,
pre code {
  background-color: #333;
}

.article pre code {
  color: white !important;
}

.article code {
  background: #333;
  font-size: 14px;
  color: white;
}

.drawer .scrollable {
  top: 0;
}

.palette-primary-white .article table th {
  background: #333333;
}

.article table {
  font-size: 18px;
}

.article table th {
  font-size: 18px;
  color: #9cde29;
}

@media only screen and (min-width: 720px) {
.article .data table {
    float: left;
}
